MusicStore.Web/Service References/MusicAlbumMgr/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MusicStore.Core" />
  <xs:element name="BrowseAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="BrowseAlbumResult" nillable="true" type="q1:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlbumList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlbumListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="GetAllAlbumListResult" nillable="true" type="q2:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopSellingAlbums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopSellingAlbumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="GetTopSellingAlbumsResult" nillable="true" type="q3:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="album" nillable="true" type="q4:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlbumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="album" nillable="true" type="q5:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAlbumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MusicStore.Core" minOccurs="0" name="FindAlbumResult" nillable="true" type="q6:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>